<%= link_to toggle_favorite_pet_journal_entry_path(journal_entry_id: journal.id), remote: true, method: :post do %>
  <p class="like-btn">
    <i class="likes fa-regular fa-heart"></i></span>
</p>
<% end %>
