<div class="journal-index">
  <%= render 'shared/buttons/backbtn' %>
</div>
<div class="container mobile-margins">
  <%#= link_to 'Back', journal_entries_path %>
  <div class="journal-entry">
    <div class="journal-entry-form">
      <%= render 'form', journal_entry: @journal_entry %>
    </div>
  </div>
</div>
