.appointment-show {
  .apt-img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: cover;
  }

  .appointment-name {
    font-size: 25px;
    margin-bottom: 0;
  }

  .appointment-location {
    margin-bottom: 0;
  }

  .appointment-location-container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }

  .appointment-location-icon {
    padding: 5px;
  }
}
