.family {
  h2, p {
    margin: 0;
  }
}
.family {
  display: flex;
  justify-content: space-evenly;
}
.family-pet-card {
  margin: auto;
  height: 230px;
  width: 150px;
  border-radius: 10px;
  border: 1px solid #3E1E99;
  cursor: pointer;
  background-color: white;
  box-shadow: 10px 6px $l-purple, 10px 6px  0px 1px $d-purple;

}

.family-pet-img {
  height: 150px;
  width: 149px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 1px #3E1E99;
  border-right: solid 1px #3E1E99;
  margin-bottom: 5px;
}

.family-pet-info {
  display: flex;
  justify-content: space-around;
}
.family-user-access {
  display: flex;
  justify-content: space-evenly;
}
.family-user {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
