.journal-new-header {
  padding: 10px 5px 25px 5px;
  display: flex;

  .journal-user {
    height: 70px;
    width: 70px;
  }
}

.rounded-box {
  border: 1px solid black;
  border-radius: 10px;
}

.pet-and-date {
  padding: 5px 0px 0px 15px;
  .pet-name {
    font-size: 20px;
  }

  .journal-date {
    font-size: 16px;
  }
}

.journal-form-submit-btn {
  margin-top: 10px;
  height: 36px;
  text-align: center;
  width: 330px;
  border: 1px solid #3E1E99;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 6px #81c8ef, 10px 6px 0px 1px #3e1e99;
}
