
.medicine-form {
  .dosage-input {
    width: 75px;
  }

  .date-input {
    size: small;
    background-color: pink;
  }

  .expiration-date-box {
    height: 40px
  }

  .no-margin-form {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .medicine-form-submit-btn {
    margin-top: 10px;
    height: 36px;
    text-align: center;
    width: 308px;
    border: 1px solid #3E1E99;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 6px #81c8ef, 10px 6px 0px 1px #3e1e99;
  }
}
