.medicine-show {
  .medicine-top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .medicine-img {
    display: flex;
    justify-content: center;
  }

  .med-img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: cover;
    height: 300px;
    width: 300px;
  }

  .medicine-name {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .medicine-expiration-date {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .medicine-period {
    display: flex;
    align-items: baseline;
    font-size: 20px;
    margin: 16px auto;
  }

  .medicine-type {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .medicine-dosage {
    font-size: 20px;
    margin-bottom: 16px;
  }
}

.medicine-period {
  h4 {
    margin-bottom: 0;
  }
}
