.dashboard-btns {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.pet-home-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pet-header {
  padding-bottom: 15px;
}

.dashboard-btn {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;

  .journal-btn {
    color: white;
  }

  .meals-btn {

  }

  .medicine-btn {

  }

  .appointments-btn {

  }
}
