<h1>Your family</h1>

<div class="family">
  <% @pets.each do |pet| %>
    <div class="family-container">
      <%= link_to pet_path(pet), class: "text-decoration-none text-dark" do %>
        <div class="family-container-top">
          <%= cl_image_tag pet.photo.key, class: "pet-avatar"%>
          <div class="family-pet">
            <h2 class="family-pet-name"><%= pet.name %></h2>
          </div>
        </div>
        <div class="family-container-bottom">
          <p class="pet-description">
          <%= pet.description %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
