<div class="nav-buttons">
  <%= link_to pets_path do %>
    <%= render 'shared/buttons/backbtn' %>
  <% end %>
</div>
<div class="container white-bg-s">
  <div class="pet-new-header">
    <h2 class="new-pet-name"> Add a new pet</h2>
  </div>
  <div class="pet-entry-form">
    <%= render 'form' %>
  </div>
</div>
