<h1>Avatar</h1>
<%= @pet.name %>

<% link_to 'Journal Entries', new_journal_entry_path(@journal_entry)  %>
<% link_to 'Meals', new_meal_path(@meal) %>
<% link_to 'Medicine', new_medicine_path(@medicine)  %>
<% link_to 'Appointments', new_appointment_path(@appointment)  %>
