<div class="shadow-nav">
</div>
<nav>
  <div class="pet-icon-container">
    <img class="current-pet-icon" src="https://www.burgesspetcare.com/wp-content/uploads/2021/08/Hamster.jpg" alt="current pet icon">
  </div>

  <div class="nav-popout">
    <div class="nav-item">
      <div class="sm button">
        <i class="dp fa-solid fa-house-chimney-window"></i>
      </div>
      <p class="nav-description">My Pet family</p>
    </div>

    <div class="nav-item">
      <div class="sm button">
        <i class="dp fa-solid fa-paw"></i>
      </div>
      <p class="nav-description">Miel's page</p>
    </div>

    <div class="nav-item">
      <div class="sm button">
        <i class="dp fa-solid fa-user-gear"></i>
      </div>
      <p class="nav-description">User Profiles</p>
    </div>

    <div class="button center btn-main-lp">
    </div>


  </div>
</nav>

<%= javascript_pack_tag 'navbar'%>
