<%# select menu mid %>
<%# I have no idea how to combine this with simple form-- will make a ticket later %>
<select class="mid-select select-menu">
  <option disabled selected>Bob</option>
  <option value="is">is</option>
  <option value="your">your</option>
  <option value="uncle">uncle</option>
</select>
