<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# back btn %>
<div class="sm button">
  <i class="fa-solid fa-angle-left"></i>
</div>

<%# plus button %>
<div class="sm button">
  <i class="fa-solid fa-plus"></i>
</div>

<%# lg plus button %>
<div class="lg button">
  <i class="fa-solid fa-plus"></i>
</div>

<%# paw button %>
<div class="sm button">
  <i class="fa-solid fa-paw"></i>
</div>

<%# user profiles button %>
<div class="sm button">
  <i class="fa-solid fa-user-gear"></i>
</div>

<%# submit button wlp (white and light purple)%>
<div class="button btn-main-lp">
</div>

<%# submit button large dark blue%>
<div class="button btn-main-db-lg">
</div>

<%# select menu sm %>
<%# I have no idea how to combine this with simple form-- will make a ticket later %>
<select class="sm-select select-menu">
  <option disabled selected>Bob</option>
  <option value="is">is</option>
  <option value="your">your</option>
  <option value="uncle">uncle</option>
</select>

<%# select menu mid %>
<%# I have no idea how to combine this with simple form-- will make a ticket later %>
<select class="mid-select select-menu">
  <option disabled selected>Bob</option>
  <option value="is">is</option>
  <option value="your">your</option>
  <option value="uncle">uncle</option>
</select>
