<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# back btn %>
<div class="sm button">
  <i class="fa-solid fa-angle-left"></i>
</div>

<%# plus button %>
<div class="sm button">
  <i class="fa-solid fa-plus"></i>
</div>

<%# lg plus button %>
<div class="lg button">
  <i class="fa-solid fa-plus"></i>
</div>

<%# paw button %>
<div class="sm button">
  <i class="fa-solid fa-paw"></i>
</div>

<%# user profiles button %>
<div class="sm button">
  <i class="fa-solid fa-user-gear"></i>
</div>

<%# submit button wlp (white and light purple)%>
<div class="button btn-main-lp">
</div>

<%# submit button large dark blue%>
<div class="button btn-main-db-lg">
</div>

<%# select menu sm %>
<%# I have no idea how to combine this with simple form-- will make a ticket later %>
<select class="sm-select select-menu">
  <option disabled selected>Bob</option>
  <option value="is">is</option>
  <option value="your">your</option>
  <option value="uncle">uncle</option>
</select>

<%# select menu mid %>
<%# I have no idea how to combine this with simple form-- will make a ticket later %>
<select class="mid-select select-menu">
  <option disabled selected>Bob</option>
  <option value="is">is</option>
  <option value="your">your</option>
  <option value="uncle">uncle</option>
</select>

<h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum alias sapiente praesentium, voluptatum possimus impedit dolor quia, non ipsum est soluta minus minima atque nam quam aliquid facilis facere itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iusto reiciendis dolorum deserunt accusantium, nihil ipsum aliquam corrupti incidunt at ut distinctio earum. Eius, fugiat. Accusamus maxime excepturi molestiae vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste commodi accusantium eveniet recusandae atque ipsam nesciunt, dignissimos dicta nemo, quidem architecto possimus optio aperiam, perspiciatis totam aliquam eius tempora? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem tenetur error vero adipisci minus, quidem similique tempora labore distinctio libero incidunt! Iure, maxime cum commodi quam aut nulla! Delectus, eius. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium architecto hic voluptatibus omnis, rerum, qui, nostrum similique earum voluptate esse autem ipsa expedita! Optio, iste rerum mollitia enim harum praesentium? Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium repudiandae quia magni dicta officia officiis esse eum id, culpa natus aspernatur cumque quidem, enim autem corporis, laborum saepe ea optio.</h2>
