<%= simple_form_for (@ownership) do |f| %>
  <div class="name-input">
    <%= f.input :user, placeholder: 'Find a user by name', label: 'User', collection: @users, input_html: { class: 'rounded-box title-box' } %>
  </div>

  <div class="user-submit">
    <%= f.submit 'Add' %>
  </div>
<% end %>
