.button {
  border: 1px solid $d-purple;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin: 10px;

}

a > .button {
  //change button color here!
  color: black;
}

.sm {
  height: 40px;
  width: 50px;
  font-size: 25px;
}

.lg {
  font-size: 35px;
  padding-top: 20px;
  height: 90px;
  width: 90px;
}

.btn-main-lp {
  border: 1px solid $d-purple;
  color: $d-purple;
  height: 40px;
  line-height: 40px; //this somehow vert aligns (must be same meight as div)
  width: 225px;
  background-color: $l-purple;
  position: relative;
}

.btn-main-lp::before {
  border-radius: 10px;
  content: attr(data-content);
  border: 1px solid $d-purple;
  height: 40px;
  line-height: 40px;
  width: 225px;
  top: -8px;
  left: 8px;
  position: absolute;
  background-color: white;
}

.btn-main-lp:active::before {
  top: 0px;
  left: 0px;
  transition: 0.3s;
}

.btn-main-db-lg {
  border: 1px solid $d-purple;
  color: white;
  height: 40px;
  line-height: 40px; //this somehow vert aligns (must be same meight as div)
  width: 360px;
  background-color: white;
  position: relative;
}

.btn-main-db-lg::before {
  border-radius: 10px;
  content: attr(data-content);
  border: 1px solid $d-purple;
  height: 40px;
  line-height: 40px;
  width: 360px;
  top: -8px;
  left: 8px;
  position: absolute;
  background-color: $l-blue;
}

.btn-main-db-lg:active::before {
  top: 0px;
  left: 0px;
  transition: 0.3s;
}

.select-menu {
  height: 40px;
  padding: 5px;
  cursor: pointer;
  border-color: black;
  border-radius: 10px;
}

.sm-select {
  width: 125px;
}

.mid-select {
  width: 170px;
}

.dashboard-nav-btn {
  width: 100px;
  height: 100px;
  text-align: justify;
  border-radius: 5px;
  align-items: center;
}

.journal-btn {
  background-color: #3E1E99;
  font-size: 66px;
  color: white;
  a:hover {
    color: black; //not important for mobile, only desktop. for some reason all the other btns do this so added just to unify
  }
}
.meals-btn {
  background-color: #81C8EF;
  font-size: 66px;
  color: white;
}
.medicine-btn {
  // background-color: #E7B1F0;
  background-color: #81C8EF;
  font-size: 66px;
  color: white;
}
.appointments-btn {
  // background-color: #C1F0B1;
  background-color: #3E1E99;
  color: white;
  font-size: 66px;

}

.like-btn {
  color: $l-purple;
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 230px;
}

.add-user-btn {
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 100%;
  border: 1px solid #3E1E99;
  cursor: pointer;
  background-color: white ;
  color: black;
  font-weight: normal;
  border-radius: 10px;
  box-shadow: 10px 6px $l-blue, 10px 6px  0px 1px $d-purple;
  margin: 0 auto;

  &.width-300 {
    width: 300px;
  }
}

.back-btn {
  padding-left: 5px;
}
