.medicine-new-header {
  padding: 10px 5px 25px 5px;
  display: flex;

  .pet-avatar {
    height: 70px;
    width: 70px;
  }
}

.rounded-box {
  border: 1px solid black;
  border-radius: 10px;
}

.medicine-form {
  .name-input {
    // font-size: 20px;
    // height: 45px;
    // text-align: center;
  }

  .dosage-input {
    // height: 300px;
    width: 75px;
  }

  .date-input {
    size: small;
    background-color: pink;
  }

  .end-date-input {
    // height: 300px;
  }

  .expiration_date-input {
    // height: 300px;
  }

  .type-input {
    // height: 300px;
  }

  .photo-upload {

  }

  .medicine-submit {

  }
}
