
.shadow-nav {
  background-color: black;
  opacity: 30%;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: none;
  margin-top: -70px;
}
nav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
}

nav a {
  text-decoration: none;
}

.pet-icon-container {
 display: flex;
 justify-content: flex-end;
}

.current-pet-icon {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
  inset: 0 0 0 30%;
}

.nav-popout {
  height: 325px;
  width: 250px;
  border: solid 1px $d-purple;
  border-radius: 10px;
  background-color: white;
  display: none;
}


.dp {
  color: $d-purple;
  font-size: 20px;
}

.nav-item {
  display: flex;
  padding: 10px;
  color: $d-purple;
}

.nav-description {
  margin: 20px;
}

.nav-item > .button {
  border: 1px solid $d-purple;
}
